Client-NewSDE/.sconsign.dblite
Client-NewSDE/.settings/language.settings.xml
Client-NewSDE/build/
Client-NewSDE/out/
Client-NewSDE/gtest_main.o
Client-NewSDE/gtest_main.a
Client-NewSDE/gtest-all.o
Client-NewSDE/TestMsgBase.o
Client-NewSDE/MsgBase.o
Client-NewSDE/.pydevproject
Client-NewSDE/TestMsgTemperature.o
Client-NewSDE/MsgTemperature.o
*.o
*.a
*.bin
*.elf
*.map
Client/.settings/language.settings.xml
*.dblite
Client/.pydevproject
Server/nodejsWebserver/node_modules/
.metadata/
Server/nodejsWebserver/spec/jasmine_examples/PlayerSpec.js
Server/nodejsWebserver/spec/helpers/jasmine_examples/SpecHelper.js
Server/nodejsWebserver/lib/jasmine_examples/Song.js
Server/nodejsWebserver/lib/jasmine_examples/Player.js
Server/nodejsWebserver/.nyc_output/f6049382fd64f5e16448a40fa9882726.json
Server/nodejsWebserver/.nyc_output/
.pioenvs/
.piolibdeps/
.vscode/
